---

import Navbar from '../components/Navbar.vue';
import Display from '../components/Display.vue';
import Hero from '../components/Hero.vue';
import Footer from '../components/Footer.vue';

const linksLeft= [
	{
		text: 'Locations',
		link: '/locations',
	},
	{
		text: 'Gallery',
		link: '/gallery',
	}
]
const linksRight= [
	{
		text: 'Add a location',
		link: '/add-location',
	},
	{
		text: 'Login / Sign Up',
		link: '/login',
	}
]

const button = {
	text: 'Launch Map',
	link: '/launch',
}

const droneShots = [
		{
			location: 'The Beach',
		imagePath:'https://picsum.photos/200'
		},
		{
			location: 'The Mountains',
		imagePath:'https://picsum.photos/200'
		},
		{
			location: 'The City',
		imagePath:'https://picsum.photos/200'
		},
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Drone Directory</title>
	</head>
	<body>
		<div class="px-5 flex flex-col gap-5">
		<Navbar linksLeft={linksLeft} button={button}
		linksRight={linksRight}
		/>
		<Hero />
		<Display droneShots={droneShots}/>
			<Footer />
			</div>
	</body>
</html>
